@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~antd/dist/antd.css';


html { font-size: calc(1em + 1vw) !important; 
        scroll-behavior: smooth }

body {
  font-family: Helvetica, Arial, sans-serif !important;
}


a {
text-decoration: none;
}

.bsnavbar{
  position: fixed;
  width: 100%;
  background-color: maroon;
  opacity: 100%;
}

.new-title{
  display: flex;
  justify-content: center;
  align-items: center;  
  
}

.new-actual{
  color: white;
}

.nav-conts{
  height: 8vh;
  background-color: maroon;
}

.collapse{
  height: 100vh;
  background-color: maroon;
}

.link-text{
  color: white;
}

.grid-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  justify-items: center;
  padding-bottom: 20px;
}

.musicgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 40px;
  height: 100%;
  width: 100%;
  justify-items: center;
}


.logo-image{

  width: 100%;
  max-width: 40vh;
  height: auto;
  padding-top: 30%;
}

.et-hero-tabs-container .icon{
  display: none;
}

nav a:hover 
{ color: rgba(255, 255, 255, 1) !important; }

.et-hero-tabs {
  
  background-image: url(../imagesmisc/banner.JPG);
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
  
}

.et-slide{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  overflow: auto;
  padding-top: 5vh
}

.et-slide-about{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: #d5b9b2;
  text-align: center;
  padding: 0 2em;
  
}

.et-slide-repertoire{

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  position: relative;
  background: black;
  text-align: center;
  padding: 0 2em;
  overflow: hidden ;
}

.et-slide-upcoming{
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  background-color:black;
  background-position: center;
  text-align: center;
  padding-top: 0;
}

.upcoming-holder{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ECE2D0;
  background-position: top;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5vh
}

.content-holder{
  display: grid;
  width: 70%;
  margin: 0 auto;
  background-color: black;
}

.et-main{
  background-color: black;
}

.et-main-about{
  background-color: #d5b9b2;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: black;
  z-index: 10;
  margin: 0 auto;
}

.container-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 10;
}

.container-holder-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #D5B9B2;
  z-index: 10;
}


nav a:active{
  font-weight: bold;
  background-color: maroon;
}

.active-two{
  font-weight: bold;
  background-color: maroon;
}

nav a.active-three{
  font-weight: bold;
  background-color: black !important;
}

nav a:link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem !important; 
  color: rgba(255, 255, 255, .8);
}

nav a:visited {
  color: rgba(255, 255, 255, .3);
  background-color: maroon; 
}

.et-hero-tabs-container.scrolled {
  background-color: black !important;
  height: 5vh;
  width: 70%;
  transition: 200ms linear;
}

.container-holder.scrolled {
  background-color: black !important;
  height: 5vh;
  width: 100%;
  transition: 200ms linear;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgba(255, 255, 255, .4);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem!important;
}

mark{
  background-color: #8C2F39;
  color: white;
}

.slideshow {
  background-color: black;
  min-height: 5vh;
  width: 100%;
  font-size: calc(20px + 2vmin)!important;
  color: black;
  justify-items: center;
  padding-top: 5vh;
  text-align: center;
}

.panda {
  background-color: black;
  min-height: 50vh;
  width: 100%;
  font-size: calc(20px + 2vmin)!important;
  color: black;
  justify-items: center;
  padding-top: 5vh;
  text-align: center;
}

.about-text{
  color: white;
  width: 80%;
  padding-bottom: 5%;
}

.about-about-text{
  color: black;
  width: 80%;
  padding-bottom: 5%;
}

.about-heading-text{
  padding-top: 1.5%;
  font-size: 5vh!important;
  color: white;
  width: 100% ;
  font-weight: bold;   
  
}

.shows-heading-text{
  padding-top: 1.5%;
  font-size: 5vh!important;
  color: black;
  width: 100% ;
  font-weight: bold;   
  
}

@media only screen and (max-width: 750px) {
  .et-hero-tabs-container {
    display: none;
  }

  
  .container-holder {
    display: none;
  }

  .et-hero-tabs-container.scrolled {
    display: none;
  }

  
  .container-holder.scrolled {
    display: none;
  }

  .about-heading-text{
    padding-top: 10vh;
    font-size: 5vh!important;
    color: white;
    width: 100% ;
    font-weight: bold;   
    
  }

  .shows-heading-text{
    padding-top: 10vh;
    font-size: 5vh!important;
    color: black;
    width: 100% ;
    font-weight: bold;   
    
  }
  
  .content-holder {
    width: 85%;
  }


  .button-menu{
    position: fixed;
    display: flex;
    margin: 0 auto;
    
  }

  .grid-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    justify-items: center;
    padding-bottom: 20px;
  }

  .musicgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 5px;
    height: 100%;
    width: 100%;
    justify-items: center;
  }

  .et-hero-tabs-container a {
    display: none
  }

}

.menu-image{
  background-image: url("../imagesmisc/menu.png");
  height: 3vh;
  width: 3vh
}

@media screen and (min-width: 750px) {
  .bsnavbar{
    display: none
  }
}





@media screen and (max-height: 450px) {
  .overlays a {font-size: 20px}
  .overlays .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}