@keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}

@keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@-moz-keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@-webkit-keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@-o-keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@-ms-keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
.wrapper {
    text-align: left;
    position: relative;
    padding-top: -150%;
    padding-left: -50%;
} 

.item {
      visibility: hidden;
      display: none;
}
  
.johndoe {
      font-size: 75px;
      margin: 0;
      color: white;
      text-align: left;
      font-weight: bolder;
      text-shadow: 2px 2px 5px black;
}
  
     .maroon {
      min-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      color: maroon;
     }
    
     .maroon:after {
      content: "";
      width: 10px;
      height: 4px;
      display: block;
      background: maroon;
      color: maroon;
      margin-bottom: 4px;
      margin-left: 2px;
      animation-duration: 350ms;
      animation-name: fade;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      }


    
  
  

  