.videogrid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 20vh;
  width: 100%;
  justify-items: center;
  background-color: black;
}

.videogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    min-height: 20vh;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: black;
    padding-bottom: 20px;
}

.videogrid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    min-height: 20vh;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: black;
    padding-bottom: 20px;
}

.more-video{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: calc(9/16 *100%);
    
}

.japan-video{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: calc(9/16 *100%);
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

.responsive-iframe-2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

