.overlay-albums {
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  width: 100%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-0%, -150%);
  transition: .5s ease;
  background-color: rgba(0,0,0,1);
}

.album-title{
  color: white;
  font-size: 1.8vh;
}
.japan-card{
    background-image: url("../albumcovers/japanreal-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .japan-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .juice-card{
    background-image: url("../albumcovers/juice-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .juice-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .bellyache-card{
    background-image: url("../albumcovers/bellyache-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .bellyache-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
  
  .treasure-card{
    background-image: url("../albumcovers/treasure-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .treasure-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .more-card{
    background-image: url("../albumcovers/more.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .more-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .acid-card{
    background-image: url("../albumcovers/acid-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .acid-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .bestpart-card{
    background-image: url("../albumcovers/bestpart-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .bestpart-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .cough-card{
    background-image: url("../albumcovers/cough-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .cough-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .brookyln-card{
    background-image: url("../albumcovers/brookyln-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .brookyln-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .soclose-card{
    background-image: url("../albumcovers/soclose-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .soclose-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .dance-card{
    background-image: url("../albumcovers/dance-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .dance-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }

  .heart-card{
    background-image: url("../albumcovers/heart-01.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .heart-card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(4/3 *100%);
  }
