.about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    justify-items: center;
}

@media only screen and (max-width: 900px){
  .about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    justify-items: center;
}
}
.rettner{
    background-image: url(../imagesmisc/candid-rettner.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.rettner:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }

.zoe-emma{
    background-image: url(../imagesmisc/zoe-emma.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.zoe-emma:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }

.hands-up{
    background-image: url(../imagesmisc/hands-up.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.hands-up:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }

.groovestand{
    background-image: url(../imagesmisc/groovestand.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.groovestand:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }