@import '~antd/dist/antd.css';

  .grace{
    background-image: url(../headshots/grace.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
  }
  
  
  .grace:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  
  .grace:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34%;
    width: 100%;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -99%);
    transition: .5s ease;
    background-color: rgba(0,0,0,.8);
  }


  .overlay-two {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -99%);
    transition: .5s ease;
    background-color: rgba(0,0,0,.8);
  }

  @media only screen and (max-width: 750px){
  .overlay-two {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34%;
    width: 100%;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -99%);
    transition: .5s ease;
    background-color: rgba(0,0,0,.8);
  }
}
  .member-title{
    font-size: 15px;
    color: white;
  }

  .member-info{
    color: rgba(255,255,255,.65);
    font-size: 13px
  }

  .text {
    color: white;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding-top: 10px;
    transform: translate(5%, 0%);
    text-align: left;
    width: 90%;
    height: 100%;
  }
  
  .texts {
    font-size: 20px;
    color: white;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding-top: 10px;
    transform: translate(5%, 0%);
    text-align: left;
    width: 90%;
    height: 100%;
  }

  .erin{
    background-image: url(../headshots/erin.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .erin:hover .overlay-two {
    opacity: 1;
  }
  
  .erin:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  .ben{
    background-image: url(../headshots/ben.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .ben:hover .overlay {
    opacity: 1;
  }
  
  .ben:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  
  .sydney{
    background-image: url(../headshots/sydney.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .retired{
    background-color:red;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .retired:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }

  .sydney:hover .overlay-two {
    opacity: 1;
  }
  
  .sydney:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  .zoe{
    background-image: url(../headshots/zoe.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .zoe:hover .overlay-two {
    opacity: 1;
  }
  
  .zoe:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  .steven{
    background-image: url(../headshots/steven.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .steven:hover .overlay-two {
    opacity: 1;
  }
  
  .steven:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
    
  }
  
  .emma{
    background-image: url(../headshots/enma.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .emma:hover .overlay-two {
    opacity: 1;
  }
  
  .emma:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  .franklin{
    background-image: url(../headshots/franklin.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .franklin:hover .overlay-two {
    opacity: 1;
  }

  .franklin:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  .jack{
    background-image: url(../headshots/jack.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .jack:hover .overlay-two {
    opacity: 1;
  }
  
  .jack:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  .ashwin{
    background-image: url(../headshots/ashwin.jpeg);
    background-image: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .ashwin:hover .overlay-two {
    opacity: 1;
  }
  
  .ashwin:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }
  
  .luke{
    background-image: url(../headshots/luke.jpeg);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .luke:hover .overlay-two {
    opacity: 1;
  }
  
  .luke:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(3/3 *100%);
  }